body{
    font-family: Fira Sans;
    background: rgb(245, 245, 245);
}
/* nave section style */

.nave{
    position: relative;
    max-width: 1480px;
    width: 100%;
    height: 100px;
    margin: 0 auto; /* Center horizontally */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}
.nave h1{
    color: rgb(14, 14, 14);
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}
.nave button{
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
     padding: 15px 30px 15px 30px;
    cursor: pointer;
   transition: all 0.2s ease;
}
.nave button:hover {
    background-color: #809D3C;
    color: #fff;
    padding: 18px 36px; 
    transform: scale(1.05);
}

/* banner sec style */
.banner{
    position: relative;
    max-width: 1280px;
    width: 100%;
    height: 560px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 80px 100px;
    margin: 0 auto; /* Center horizontally */
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin-bottom: 80px;
}
.banner-cnt{
    width: 622px;
height: 326px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
}
.banner-img{
    width: 474.03px;
height: 400px;
}
.banner-cnt p{
    color: rgba(14, 14, 14, 0.5);
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 25px;
}
.banner-cnt h1{
    margin-top: 0;
    color: rgb(14, 14, 14);
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 30px;
}
.banner-cnt button{
    margin-top: 0;
    border: none;
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
line-height: 22px;
text-align: left;
cursor: pointer;
transition: all 0.2s ease;
}
.banner-cnt button:hover{
    background-color:red;
    color: #fff;
    padding: 18px 36px; 
    transform: scale(1.05);
}

/* pillars section styles */
.pillars {
    position: relative;
    margin-top: 0;
    margin-bottom: 80px;
    max-width: 1480px;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;

}

.pillars h1 {
    margin-top: 0;
    position: absolute;
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.pillars-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 0px;
    margin-top: 80px;
}

.pillars-cnt {
    width: 350px;
    height: 265px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.pillars-cnt img {
    width: 62px;
    height: 62px;
    margin-bottom: 12px;
}

.pillars-cnt h3 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 12px;
}

.pillars-cnt p {
    margin-top: 0;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


